{% extends 'client/navbar.html' %}
{% load static %}

{% block content %}

<div class="container py-5">

    <!-- Welcome Card -->
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body text-center">
            <h2 class="card-title mb-3">Subscription Locked</h2>
            <p class="text-muted mb-0">Your subscription is currently locked. Please subscribe to access all features.
            </p>
            <!-- <a href="#" class="btn btn-primary -->
        </div>
    </div>
</div>



{% endblock %}